.recipeArea {
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 700px;
}

.recipeTitleArea {
    text-align: center;
}

.recipeCreatorArea {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
}

.recipeDescriptionArea {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 500px;
    overflow-wrap: break-word;
    text-align: center;
}

.recipeTimeArea {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.recipeIngredientsArea {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.recipeFabArea {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: 20px;
    width: 56px;
    height: 56px;
}

.recipeBackButton {
    margin-top: 10px;
    margin-left: 10px;
}
