.uploadBody {
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 500px;
}

.uploadTitle {
  text-align: center;
  margin-bottom: 20px;
}

.uploadForm {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 460px;

}

.recipeFormElement {
  margin-bottom: 30px;
}

.uploadButtonDiv {
  width: 166.85px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
