.ingredientCreatorArea {
    margin-bottom: 30px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.addIngredientButtonDiv {
    width: 68.35px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.createdIngredientArea {
    width: 400px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.ingredientCreatorElement {
    margin-bottom: 30px;
}
