.ingredientListArea {
    list-style: none;
    padding-left: 0;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.ingredientListItem {
    padding: 15px;
    text-align: center;
}
